{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>clean@Sign Up</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body class="body4">
    <h1>Sign Up</h1>
    <form action="{% url 'signup' %}" method="POST">
      {% csrf_token %}
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required /><br /><br />

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required /><br /><br />

      <label for="confirm_password">Confirm Password:</label>
      <input type="password" name="confirm_password" id="confirm_password" required /><br /><br />

      <input type="submit" value="Sign Up" />
    </form>
  </body>
</html>
